{% extends "layout.html" %} 
{% set active_page = "index" %} 
{% block content %}

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">

                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>KLASIFIKASI SP4N-LAPOR! MENGGUNAKAN ALGORITMA</h4>
                                                    <h4>LONG SHORT TERM MEMORY (LSTM)</h4>
                                                    <h5>Akses halaman preprocessing untuk mulai</h5>
                                                </div>
                                                <div class="card-block">
                                                    <a class="btn btn-primary" href="{{ url_for('preprocessing') }}">Mulai <i class="ti-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                    </div>

                                    </div>
                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
