{% extends "layout.html" %} 
{% set active_page = "process_menu" %} 
{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <!-- start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>TIDAK DAPAT MENGAKSES HALAMAN SEBELUM MENGINPUTKAN DATA</h4>
                                    </div>
                                 <!--    <div class="card-block">
                                      <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Select Box</label>
                                        <div class="col-sm-10">
                                            <select name="select" class="form-control">
                                                <option value="opt1">Select One Value Only</option>
                                                <option value="opt2">Type 2</option>
                                                <option value="opt3">Type 3</option>
                                                <option value="opt4">Type 4</option>
                                                <option value="opt5">Type 5</option>
                                                <option value="opt6">Type 6</option>
                                                <option value="opt7">Type 7</option>
                                                <option value="opt8">Type 8</option>
                                            </select>
                                        </div>
                                      </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
